.product-wrapper {
    position: relative;
    width: 100%;

    @include breakpoint-up(medium){
        width: 90%;
    }
}

.product-card {
    margin: 0 auto;
    max-width: 20rem;
    display: flex;
    flex-flow: column wrap;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    box-shadow: $boxShadow;
    border: 1px solid $lightGrey;
    position: relative;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    background: $white;

    & img {
        height: 12rem;
        box-shadow: .25rem .25rem .5rem $black;
        transition: transform .3s ease-in-out;
    }
}

.card-body {
    margin-top: 1.6rem;
    text-align: center;

    & .product-title {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 5px;
    }

    & .product-price {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 5px;
        padding: 3px 9px;
        color: $mainGrey;
    }
}

.go-to-cart {
    padding: .5rem 1rem;
    background: $mainGreen;
    border-radius: .5rem;
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    box-shadow: $boxShadow;
    text-shadow: $textShadow;
    transition: all .5s ease-in-out;
    align-self: center;
    margin: .5rem;
    cursor: pointer;

    &:hover {
        background: $mainGrey;
    }
}

.product-card-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .add-to-cart {
        .add-icon {
            font-size: 2.5rem;
            color: $white;    
            filter: drop-shadow($boxShadow);
            
        }
        .add-title {
            font-size: .7rem;
            color: $white;
            text-transform: uppercase; 
            font-weight: bolder;
            text-shadow: $textShadow;
        }

        &:hover .add-icon {
            color: $lightGreen;
        } 

        &:hover .add-title {
            color: $lightGreen;
        } 
    }
}